<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.suilian.aio.dao.ApitradeLogMapper">
  <resultMap id="BaseResultMap" type="top.suilian.aio.model.ApitradeLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="robot_id" jdbcType="INTEGER" property="robotId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="trade_type" jdbcType="INTEGER" property="tradeType" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="created_at" jdbcType="VARCHAR" property="createdAt" />
    <result column="updated_at" jdbcType="VARCHAR" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, robot_id, order_id, member_id, `type`,trade_type, price, amount, `status`, memo, created_at,
    updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from apitrade_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apitrade_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="top.suilian.aio.model.ApitradeLog" useGeneratedKeys="true">
    insert into apitrade_log (robot_id, order_id, member_id, 
      `type`,trade_type, price, amount,
      `status`, memo, created_at, 
      updated_at)
    values (#{robotId,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{memberId,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{tradeType,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL},
      #{status,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR}, #{createdAt,jdbcType=VARCHAR}, 
      #{updatedAt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="top.suilian.aio.model.ApitradeLog" useGeneratedKeys="true">
    insert into apitrade_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="robotId != null">
        robot_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="robotId != null">
        #{robotId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.suilian.aio.model.ApitradeLog">
    update apitrade_log
    <set>
      <if test="robotId != null">
        robot_id = #{robotId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.suilian.aio.model.ApitradeLog">
    update apitrade_log
    set robot_id = #{robotId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=VARCHAR},
      member_id = #{memberId,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      `status` = #{status,jdbcType=INTEGER},
      memo = #{memo,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=VARCHAR},
      updated_at = #{updatedAt,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByRobotId" parameterType="java.lang.Integer" resultType="top.suilian.aio.vo.getAllOrderPonse">
    select
      order_id orderId, price,amount,status,DATE_FORMAT(created_at,'%Y-%m-%d %H:%i:%s')  createdAt,type
    from apitrade_log
    where robot_id = #{robotId} and trade_type=2 order by created_at desc limit 20
  </select>


  <select id="selectByRobotIdNOTrade" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from apitrade_log
    where robot_id = #{robotId} and trade_type=1 and status in (0,1) order by created_at desc
  </select>
  <select id="selectByRobotIdAndOrderId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from apitrade_log
    where
    robot_id = #{robotId,jdbcType=NUMERIC}
    AND order_id = #{orderId,jdbcType=VARCHAR}
  </select>


  <select id="selectByRobotIdAndTime" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from apitrade_log
    where
    robot_id = #{robotId}
    AND created_at > #{time}
  </select>

</mapper>