<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.suilian.aio.dao.ExceptionMessageMapper">
    <resultMap id="BaseResultMap" type="top.suilian.aio.model.ExceptionMessage">
        <id column="exception_message_id" property="exceptionMessageId" jdbcType="INTEGER"/>
        <result column="robot_id" property="robotId" jdbcType="INTEGER"/>
        <result column="isMobile" property="ismobile" jdbcType="BIT"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
        <result column="message" property="message" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exception_message
    where exception_message_id = #{exceptionMessageId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="top.suilian.aio.model.ExceptionMessage">
   insert into exception_message(robot_id,message,isMobile,created_at,updated_at)
values(#{exceptionMessage.robotId},#{exceptionMessage.message}, #{exceptionMessage.isMobile}, sysdate(),sysdate())
  </insert>
    <update id="updateByPrimaryKey" parameterType="top.suilian.aio.model.ExceptionMessage">
    update exception_message
    set robot_id = #{robotId,jdbcType=INTEGER},
      isMobile = #{ismobile,jdbcType=BIT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      message = #{message,jdbcType=LONGVARCHAR}
    where exception_message_id = #{exceptionMessageId,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select exception_message_id, robot_id, isMobile, created_at, updated_at, message
    from exception_message
    where exception_message_id = #{exceptionMessageId,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select exception_message_id, robot_id, isMobile, created_at, updated_at, message
    from exception_message
  </select>
</mapper>