<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.suilian.aio.dao.TradeLogMapper">
    <resultMap id="BaseResultMap" type="top.suilian.aio.model.TradeLog">
        <id column="trade_log_id" property="tradeLogId" jdbcType="INTEGER"/>
        <result column="robot_id" property="robotId" jdbcType="INTEGER"/>
        <result column="color" property="color" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="BIT"/>
        <result column="active" property="active" jdbcType="BIT"/>
        <result column="deleted" property="deleted" jdbcType="BIT"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <insert id="insert" parameterType="top.suilian.aio.model.TradeLog">
    insert into trade_log (trade_log_id, robot_id, color, 
      status, active, deleted, created_at, 
      updated_at, remark)
    values (#{tradeLogId,jdbcType=INTEGER}, #{robotId,jdbcType=INTEGER}, #{color,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{active,jdbcType=BIT}, #{deleted,jdbcType=BIT}, sysdate(),
      sysdate(), #{remark,jdbcType=LONGVARCHAR})
  </insert>

    <delete id="deletedByTime">
        delete from trade_log where robot_id = #{robotId} and created_at &lt;=  #{startTime}
    </delete>

</mapper>